
  body { font-style: normal;
    text-align: center;
    font-family: Copperplate Gothic Bold;
    font-weight: normal;
    background-image: white;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    }

  .menu { color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Bell MT;
    font-size: 14px;
    }

  a.menu:hover { font-family: Copperplate Gothic Bold;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(0, 0, 0);
    }

  .txtmenu { color: rgb(153, 102, 51);
    text-align: center;
    font-family: Bernard MT Condensed;
    font-size: 20px;
    }

